#################################
# Attributes
#################################
uSERVICE_NAME=littlefs
uSERVICE_UID=LITTLEFS
uSERVICE_VERSION_STR="1.0"
uSERVICE_CPU_CORE=CortexM33

uSERVICE_MAINSTACK_SIZE=0x1000

#################################
# Build Entities
#################################
uSERVICE_CFLAGS=\
                -Os \
                -DLFS_NO_MALLOC \
                -DLFS_NO_ASSERT \
                -DLFS_NO_DEBUG \
                -DLFS_NO_WARN \
                -DLFS_NO_ERROR

uSERVICE_LDFLAGS=
uSERVICE_SOURCE_FILES=\
                Source/main.c \
                Source/us_std.c \
                Libs/littlefs/lfs.c \
                Libs/littlefs/lfs_util.c
uSERVICE_INCLUDE_DIRS=-IInclude/ -ILibs/

#################################
# GCC Entities
#################################
uSERVICE_TOOLCHAIN_GCC_PATH="C:/Program Files (x86)/GNU Arm Embedded Toolchain/10 2021.10/bin/"
uSERVICE_TOOLCHAIN_GCC_TOOLCHAIN_PREFIX=arm-none-eabi-

# [OPTIONAL] CUSTOM LD PATH FOR MICROSERVICE
# uSERVICE_GCC_LD_PATH=
